body {
    color: #444443;
    background-color: #fff;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.28px;
    letter-spacing: .08rem;
    font-family: avenir,sans-serif;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section {
  position: relative;
  width: 25%;
  height: 25%;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

.portmanteau1 {
  height: 40vh;
  z-index: 1;
}

.portmanteau1 p {
  color: #444443;
  margin: 2.5% 10% 0% 4%;
}

.welcome1 {
  font-family: 'Lora', serif;
  line-height: 2;
  padding-top: 3%;
  padding-right: 5%;
  height: 50%;
  font-size: 1.5em;
}

.welcome2 {
  font-family: 'Lora', serif;
  font-weight: 100;
  line-height: 2;
  vertical-align: top;
  margin: 0% 1% 5% 27%;
  font-size: 1.7em;
}

.homeimg {
  width: 90%;
  margin-left: 10%;
}

.txt-rotate{
  margin-right: 1%;
}

#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #696969;
  border-bottom: 1px solid #696969;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.separator {
  padding: 3% 1% 3% 2%;
  display: block;
  margin: 0 auto;
}

.img-with-text {
    text-align: justify;
    width: 5em;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.topbutton {
  color: #333;
  display: inline-block;
  outline: none;
  background-color: white;
  width: 10%
  padding: 0 20px;
  line-height: 200%;
  border: 1px solid #d8d7d6;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  float: right;
  margin: 3% 3% 0 0;
  letter-spacing: .1rem;
  font-size: 0.7em;
  background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
  background-size: 100% 200%;
  transition: background-position .3s;
}

.topbutton:hover {
    background-position: 0 -100%;
    text-decoration: none;
    color: #fff;
}

.aboutbutton {
  color: #333;
  font-family: avenir,sans-serif;
  margin: 0% 0 0 1%;
  display: inline-block;
  outline: none;
  background-color: white;
  width: 10%
  padding: 0 20px;
  line-height: 200%;
  border: 1px solid #d8d7d6;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 0.9em;
  background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
  background-size: 100% 200%;
  transition: background-position .3s;
}

.aboutbutton:hover {
    background-position: 0 -100%;
    text-decoration: none;
    color: #fff;
}

.topimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 3em;
  width: 3em;
}

.portmanteau2 {
  min-height: 100%;
  padding-top: 5px;
  z-index: 1;
}

.portmanteau3 {
  background-color: #fff;
  height: 45vh;
  margin-bottom: 2vh;
  padding: 25px 0;
  font-size: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
}

.line {
  display:block;
  height: 5.0em;
  padding-left: 12px;
}

.linkpic {
  display: block;
  margin-bottom: 1.1vh;
  margin-top: 1vh;
  width: 55%;
  height: 55%;
}

.links{
  padding-top: 0.3%;
  margin-bottom: 50px;
  right: 0;
  position: fixed;
  z-index: 10;
}

.sub1{
  font-family: 'Lora', serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.7em;
  margin-bottom: 0.8em;
  margin-top: 0.3em;
  margin-left: 0.7em;
}

.sub2{
  font-weight: 300;
  font-size: 1.1em;
  display: inline-block;
}

.sub3{
  color: #957e64;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 1.0em;
  margin-bottom: 0.7em;
  margin-top: 0.3em;
  margin-left: 1.7em;
  font-weight: 500;
}

.sub4{
  color: #362e24;
  text-align: center;
  font-size: 1.0em;
  margin-bottom: 1.7em;
  margin-top: 0.3em;
  margin-left: 1.7em;
}

.sub5{
  color: #9d846c;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 2.0em;
  margin-top: -1.8em;
  margin-left: 1.7em;
}

.link3 {
  color: #957e64;
  font-family: 'Lora', serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 1.0em;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  margin-left: 1.7em;
  font-weight: 600;
}

.link3:hover{
  color: #675745;
  font-family: 'Lora', serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 1.0em;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  margin-left: 1.7em;
  font-weight: 600;
}

.label1{
  font-weight: 300;
  font-size: 0.9em;
  color: #444443;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.label1:hover{
  font-weight: 400;
  font-size: 1em;
  color: #444443;
  margin-top: 10px;
  letter-spacing: 0.3em;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  text-decoration: none;
}

.footer{
  text-decoration: none;
  margin-top: 0.5em;
}

.foottext{
  font-weight: 250;
  font-size: 0.7em;
  color: #444443;
  display: inline-block;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-top: 0.4em;
  padding-left: 3.2em;
  float: left;
}

.foottext1{
  font-weight: 250;
  font-size: 0.7em;
  display: inline-block;
  color: #444443;
  float: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-top: 0.4em;
  padding-right: 3.2em;
}

.footlink{
  font-weight: 300;
  font-size: 0.8em;
  color: #444443;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.footlink:hover{
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: underline;
  color: #444443;
  letter-spacing: 0.1em;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
}

.description1{
  font-weight: 200;
  font-size: 0.8em;
  padding-bottom: 0.5em;
  line-height: 1.6em;
}

.projectpic:hover + .label1 {
  font-weight: 400;
  font-size: 1em;
  color: #444443;
  margin-top: 10px;
  letter-spacing: 0.2em;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  text-decoration: none;
}

.projectpic{
  width: 100%;
  height: 90%;
  -webkit-filter: grayscale(90%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(90%);
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(90%);
  -o-transition: .3s ease-in-out;
}

.projectpic:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .3s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .3s ease-in-out;
}

.project {
  display: inline-block;
  vertical-align:top;
}

.project2 {
  display: inline-block;
  height: 20em;
  width: 45%;
  margin: 1em 0.6em 1em 0.6em;
  float: left;
  text-decoration: none;
}

.project2:hover {
  display: inline-block;
  height: 20em;
  width: 45%;
  margin: 1em 0.6em 1em 0.6em;
  float: left;
  text-decoration: none;
}

section.content-row {
	transition: all 0.5s ease-in-out;
	opacity: 0;
	transform: translateY(20%);
}

section.content-row.in-view {
	opacity: 1;
	transform: translateY(0);
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0;}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../assets/copper.gif) center no-repeat #fff;
}


@media screen and (max-width: 521px) {
  .body {
     font-size: 2vw;
  }
}

/* iPhone 6/7/8 Portrait and Landscape */
@media only screen
  and (min-width: 360px)
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .links {
    display: none;
  }

  .homeimg {
    display: none;
  }

  .welcome1 {
    font-family: 'Lora', serif;
    line-height: 2;
    vertical-align: top;
    padding-top: 15%;
    padding-bottom: 5%;
    font-size: 1.3em;
  }

  .project2 {
    display: inline-block;
    height: 12em;
    width: 80%;
    margin: 2em 1.5em 2em 1.5em;
    float: left;
    text-decoration: none;
  }

  .project2:hover {
    display: inline-block;
    height: 12em;
    width: 80%;
    margin: 2em 1.5em 2em 1.5em;
    float: left;
    text-decoration: none;
  }

  .portmanteau2 {
    height: 515vh;
  }

  .portmanteau3 {
    background-color: #fff;
    height: 25vh;
  }

  .welcome2 {
    font-family: 'Lora', serif;
    font-weight: 100;
    line-height: 2;
    vertical-align: top;
    display: block;
    margin: 0 auto;
    font-size: 1.3em;
    padding-left: 15%;
    padding-bottom: 5%;s
  }

  .aboutbutton {
    color: #333;
    font-family: avenir,sans-serif;
    display: block;
    margin: 0 auto;
    outline: none;
    background-color: white;
    width: 10%
    line-height: 200%;
    border: 1px solid #d8d7d6;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .1rem;
    font-size: 0.9em;
    background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
    background-size: 100% 200%;
    transition: background-position .3s;
  }

  .footer{
    text-decoration: none;
    display: inline-block;
  }
}

/* iPhone X Portrait and Landscape */
@media only screen
  and (min-width: 375px)
  and (max-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .links {
      display: none;
    }

    .homeimg {
      display: none;
    }

    .welcome1 {
      font-family: 'Lora', serif;
      line-height: 2;
      vertical-align: top;
      padding-top: 15%;
      padding-bottom: 5%;
      font-size: 1.3em;
    }

    .project2 {
      display: inline-block;
      height: 12em;
      width: 80%;
      margin: 2em 1.5em 2em 1.5em;
      float: left;
      text-decoration: none;
    }

    .project2:hover {
      display: inline-block;
      height: 12em;
      width: 80%;
      margin: 2em 1.5em 2em 1.5em;
      float: left;
      text-decoration: none;
    }

    .portmanteau2 {
      height: 420vh;
    }

    .portmanteau3 {
      background-color: #fff;
      height: 22vh;
    }

    .welcome2 {
      font-family: 'Lora', serif;
      font-weight: 100;
      line-height: 2;
      vertical-align: top;
      display: block;
      margin: 0 auto;
      font-size: 1.3em;
      padding-left: 15%;
      padding-bottom: 5%;s
    }

    .aboutbutton {
      color: #333;
      font-family: avenir,sans-serif;
      display: block;
      margin: 0 auto;
      outline: none;
      background-color: white;
      width: 10%
      line-height: 200%;
      border: 1px solid #d8d7d6;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      letter-spacing: .1rem;
      font-size: 0.9em;
      background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
      background-size: 100% 200%;
      transition: background-position .3s;
    }

    .footer{
      text-decoration: none;
      display: inline-block;
    }
}

/* iPhone Plus Portrait and Landscape */
@media only screen
  and (min-width: 414px)
  and (max-width: 767px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .links {
      display: none;
    }

    .homeimg {
      display: none;
    }

    .welcome1 {
      font-family: 'Lora', serif;
      line-height: 2;
      vertical-align: top;
      padding-top: 15%;
      padding-bottom: 5%;
      font-size: 1.5em;
    }

    .project2 {
      display: inline-block;
      height: 12em;
      width: 80%;
      margin: 2em 1.5em 2em 1.5em;
      float: left;
      text-decoration: none;
    }

    .project2:hover {
      display: inline-block;
      height: 12em;
      width: 80%;
      margin: 2em 1.5em 2em 1.5em;
      float: left;
      text-decoration: none;
    }

    .portmanteau2 {
      height: 470vh;
    }

    .portmanteau3 {
      background-color: #fff;
      height: 22vh;
    }

    .welcome2 {
      font-family: 'Lora', serif;
      font-weight: 100;
      line-height: 2;
      vertical-align: top;
      display: block;
      margin: 0 auto;
      font-size: 1.3em;
      padding-left: 15%;
      padding-bottom: 5%;s
    }

    .aboutbutton {
      color: #333;
      font-family: avenir,sans-serif;
      display: block;
      margin: 0 auto;
      outline: none;
      background-color: white;
      width: 10%
      line-height: 200%;
      border: 1px solid #d8d7d6;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      letter-spacing: .1rem;
      font-size: 0.9em;
      background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
      background-size: 100% 200%;
      transition: background-position .3s;
    }

    .footer{
      text-decoration: none;
      display: inline-block;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-width: 660px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .links {
      display: none;
    }

    .homeimg {
      display: none;
    }

    .portmanteau1 {
      height: 65vh;
        background-color: #f3f0ed;
    }

    .welcome1 {
      font-family: 'Lora', serif;
      line-height: 2;
      vertical-align: top;
      padding-right: 5%;
      padding-bottom: 5%;
      font-size: 2.5em;
    }

    .project2 {
      display: inline-block;
      height: 24em;
      width: 80%;
      margin: 2em 1.5em 2em 1.5em;
      float: left;
      text-decoration: none;
    }

    .project2:hover {
      display: inline-block;
      height: 24em;
      width: 80%;
      margin: 2em 1.5em 2em 1.5em;
      float: left;
      text-decoration: none;
    }

    .portmanteau2 {
      height: 490vh;
    }

    .portmanteau3 {

      height: 22vh;
    }

    .welcome2 {
      font-family: 'Lora', serif;
      font-weight: 100;
      line-height: 2;
      vertical-align: top;
      margin: 0% 1% 5% 8%;
      font-size: 1.7em;
    }

    .aboutbutton {
      color: #333;
      font-family: avenir,sans-serif;
      margin: 0% 0 0 1%;
      display: inline-block;
      outline: none;
      background-color: white;
      width: 10%
      padding: 0 20px;
      line-height: 200%;
      border: 1px solid #d8d7d6;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      letter-spacing: .1rem;
      font-size: 0.9em;
      background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
      background-size: 100% 200%;
      transition: background-position .3s;
    }

    .footer{
      text-decoration: none;
      display: inline-block;
    }
}
