body {
    color: #444443;
    background-color: #fff;
    font-weight: 400;
    font-size: .78rem;
    letter-spacing: 1.28px;
    letter-spacing: .08rem;
    font-family: avenir,sans-serif;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.portmanteau1 {
  height: 65vh;
}

.portmanteau1 p {
  color: #444443;
  margin: 2.5% 10% 0% 4%;
}

.welcome1 {
  margin: 3% 0 0 12%;
  display: inline-block;
}

.welcome1 span {
  display: inline-block;
  width: 52%;
  font-family: 'PT Serif', serif;
  font-size: 111%;
  line-height: 2;
  vertical-align: top;
  padding-top: 10%;
}

.homeimg {
  width: 28.5vw;
  height: 70vh;
  display: inline-block;
}

.portmanteau2 {
  background-color: #ece9e7;
  height: 30vh;
}

.line {
  display:block;
  margin:auto;
  height: 10vh;
  margin-left: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.linkpic {
  display: block;
  margin: 5px 15px 6px 5px;
  width: 2vw;
  height: 2vw;
}

.links {
  display: block;
  padding-top: 0.3%;
  float: right;
}
