body {
    color: #444443;
    background-color: #fff;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.28px;
    letter-spacing: .08rem;
    font-family: avenir,sans-serif;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.portmanteau1 {
  height: 60vh;
}

.portmanteau1 p {
  color: #444443;
  margin: 2.5% 10% 0% 4%;
}

.welcome1 {
  font-family: 'Lora', serif;
  line-height: 2;
  vertical-align: top;
  padding-top: 10%;
  padding-bottom: 5%;
}

.homeimg {
  width: 97%;
}

.portmanteau2 {
  background-color: #f3f0ed;
  height: 150vh;
}

.portmanteau3 {
  background-color: #fff;
  height: 30vh;
}

.line {
  display:block;
  margin:auto;
  height: 5.5em;
  margin-right: 33px;
}

.linkpic {
  display: block;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 55%;
  height: 55%;
}

.links {
  padding-top: 0.3%;
  right: 0;
  position: fixed;
}

.sub1{
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom: 0.8em;
  margin-top: 0.3em;
  margin-right: 5em;
}

.sub2{
  font-weight: 300;
  font-size: 1.1em;
  display: inline-block;
}

.label1{
  font-weight: 300;
  font-size: 0.8em;
  color: #444443;
  margin-top: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.label1:hover{
  font-weight: 400;
  font-size: 0.9em;
  color: #444443;
  margin-top: 12px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.description1{
  font-weight: 200;
  font-size: 0.8em;
  padding-bottom: 0.5em;
  line-height: 1.6em;
}

.projectpic{
  width: 100%;
  height: 90%;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

.projectpic:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

.project {
  display: inline-block;
  vertical-align:top;
}

.project2 {
  display: inline-block;
  height: 12em;
  width: 27%;
  margin: 2em 1.5em 2em 1.5em;
  float: left;
}

@media screen and (max-width: 521px) {
  .body {
     font-size: 2vw;
  }
}
