body {
    color: #444443;
    background-color: #fff;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.28px;
    letter-spacing: .08rem;
    font-family: avenir,sans-serif;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.portmanteau1 {
  height: 60vh;
}

.portmanteau1 p {
  color: #444443;
  margin: 2.5% 10% 0% 4%;
}

.welcome1 {
  font-family: 'Lora', serif;
  line-height: 2;
  vertical-align: top;
  padding-top: 10%;
  padding-bottom: 5%;
}

.homeimg {
  width: 100%;
}

.portmanteau2 {
  background-color: #f3f0ed;
  height: 150vh;
}

.line {
  display:block;
  margin:auto;
  height: 5em;
  margin: 1vw 0.5vw 0 0.9vw;
}

.linkpic {
  display: block;
  margin: 1vw 0.5vw 2px 2px;
  width: 40%;
  height: 40%;
}

.links {
  padding-top: 0.3%;
  right: 0;
  position: fixed;
}

@media screen and (max-width: 521px) {
  .body {
     font-size: 2vw;
  }
}
