
.portmanteau1 {
  height: 75vh;
}

.portmanteauTars {
  height: 95vh;
}

.portmanteau1 p {
  color: #444443;
  margin: 2.5% 10% 0% 4%;
}

.portmanteauTars p {
  color: #444443;
  margin: 2.5% 10% 0% 4%;
}

.projectimg {
  width: 97%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.catimg {
  width: 48%;
  display: inline-block;
  padding-right: 3%;
}

.sendimg {
  width: 31%;
  display: inline-block;
  padding-right: 2%;
}

.projectimgs {
  padding-top: 2%;
  width: 70%;
  margin: 0 auto;
}

.topimg{
  width: 3em;
  margin: 3% 0 1% 3%;
  display: inline-block;
  position: relative;
}

.portmanteau2 {
  background-color: #f3f0ed;
  height: 95vh;
}

.portmanteau22 {
  background-color: #f3f0ed;
  height: 100vh;
}

.portmanteau222 {
  background-color: #f3f0ed;
  height: 82vh;
}

.portmanteauTarsier {
  background-color: #f3f0ed;
  height: 425vh;
}

.portmanteau3 {
  background-color: #fff;
  height: 30vh;
}

.line {
  display:block;
  margin:auto;
  height: 3.9em;
  margin-right: 33px;
}

.linkpic {
  display: block;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 55%;
  height: 55%;
}

.links {
  padding-top: 0.3%;
  right: 0;
  position: fixed;
}

.sub1{
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom: 0.8em;
  margin-top: 0.3em;
  margin-right: 5em;
}

.sub2{
  font-weight: 300;
  font-size: 1.9em;
  font-family: 'Lora', serif;
  display: inline-block;
}

.label1{
  font-weight: 300;
  font-size: 0.7em;
  color: #444443;
  line-height: 3em;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  display: inline;
  width: 50%;
  padding-left: 12%;
  padding-right: 1%;
}

.description1{
  font-weight: 100;
  font-size: 0.9em;
  padding-bottom: 0.5em;
  line-height: 2.1em;
  text-align: justify;
  width: 100%;
}

.technologies{
  font-weight: 100;
  font-size: 0.9em;
  padding-bottom: 0.5em;
  line-height: 2.1em;
  text-align: justify;
  font-family: 'Lora', serif;
  padding: 5% 23.5% 5% 23.5%;
  width: 100%;
}

.technologies1{
  font-weight: 100;
  font-size: 0.9em;
  line-height: 2.1em;
  text-align: justify;
  font-family: 'Lora', serif;
  padding: 5% 17% 1% 18%;
  width: 100%;
}

.technologies2{
  font-weight: 100;
  font-size: 1em;
  padding-bottom: 0.5em;
  line-height: 2.1em;
  text-align: justify;
  font-family: 'Lora', serif;
  padding: 5% 26% 5% 26%;
  width: 100%;
}

.projectpics{
  padding: 5% 0% 0% 0.5%;
}

.linkbuttons{
  color: #333;
  display: block;
  width: 26%;
  margin: 0 auto;
  margin-top: 1.5em;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  font-weight: 100;
  letter-spacing: .1rem;
  font-size: 0.8em;
  border: 1px solid #d8d7d6;
  transition: background-position .3s;
  line-height: 1.5rem;
  border-radius: 0;
  background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
  background-size: 100% 200%;
}

.linkbuttons:hover {
    background-position: 0 -100%;
    text-decoration: none;
    color: #fff;
  }

.topbutton {
  color: #333;
  display: inline-block;
  outline: none;
  background-color: white;
  width: 10%
  padding: 0 20px;
  line-height: 200%;
  border: 1px solid #d8d7d6;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  float: right;
  margin: 3% 3% 0 0;
  letter-spacing: .1rem;
  font-size: 0.7em;
  background-image: linear-gradient(#fff, #fff 50%, #222222 50%, #222222);
  background-size: 100% 200%;
  transition: background-position .3s;
}

.topbutton:hover {
    background-position: 0 -100%;
    text-decoration: none;
    color: #fff;
}

.showcase{
  width: 48%;
  margin: 0.5%;
}

.projectpic{
  width: 100%;
  height: 90%;
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

.projectpic:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

.project {
  display: inline-block;
  vertical-align:top;
}

.project2 {
  display: inline-block;
  height: 12em;
  width: 27%;
  margin: 2em 1.5em 2em 1.5em;
  float: left;
  text-decoration: none;
}

.project2:hover {
  display: inline-block;
  height: 12em;
  width: 27%;
  margin: 2em 1.5em 2em 1.5em;
  float: left;
  text-decoration: none;
}

.img-with-text {
    text-align: center;
    width: 5em;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.footer{
  text-decoration: none;
  margin-top: 0.5em;
}

.foottext{
  font-weight: 150;
  font-size: 0.6em;
  color: #444443;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-top: 0.4em;
  padding-left: 1.2em;
}

.footlink{
  font-weight: 300;
  font-size: 0.8em;
  color: #444443;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-top: 0.6em;
  margin-bottom: 0;
}

.footlink:hover{
  font-weight: 400;
  font-size: 0.8em;
  text-decoration: none;
  color: #444443;
  letter-spacing: 0.1em;
  -webkit-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url(../assets/copper.gif) center no-repeat #fff;
}

@media screen and (max-width: 521px) {
  .body {
     font-size: 2vw;
  }
}
