// variables.scss
// This file contains all the variables used in our stylesheets

// Constants
$nav-bar-height: 100px;
$nav-font-size: 18px;
$menu_spacing: 50px;

// Colors
$beige:#c6956a;
$beigeLight:#ece9e7;
$beigeLighter:#f3f0ed;
$greyDarker:#444443;
$greyDark:#333;
$grey:#6f7072;
$greyLight:#b7b6b4;
$greyLighter:#d8d7d6;
$greyLightest:#efefef;
$white:#fff;
